.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar4-image1 {
  height: 3rem;
}
.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar4-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar4-link3 {
  transition: 0.3s;
  text-decoration: none;
}


.navbar4-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar4-action1 {
  display: flex;
  flex-direction: row;
}
.navbar4-text {
  transition: 0.3s;
}

.navbar4-action2 {
  display: flex;
  flex-direction: row;
}
.navbar4-burger-menu {
  display: none;
}
.navbar4-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar4-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar4-logo {
  height: 3rem;
}
.navbar4-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar4-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar4-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar4-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero91-header30 {
  gap: var(--dl-space-space-twounits);
}
.hero91-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.hero91-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
}
.hero91-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.hero91-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero91-text {
  text-align: center;
}
.hero91-text1 {
  text-align: center;
}
.hero91-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero91-text2 {
  text-align: center;
}

@media(max-width: 991px) {
  .hero91-text {
    text-align: center;
  }
  .hero91-text1 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero91-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero91-button {
    width: 100%;
  }
}

.contact-form3-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form3-image1 {
  flex: 1;
  width: auto;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.contact-form3-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form3-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form3-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form3-input {
  gap: var(--dl-space-space-halfunit);
  height: 102px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form3-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form3-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-form3-checkbox {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
.contact-form3-text6 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.contact-form3-button {
  align-self: flex-start;
}
@media(max-width: 991px) {
  .contact-form3-max-width {
    flex-direction: column;
  }
  .contact-form3-content {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-form3-image1 {
    width: 100%;
  }
}

.stats2-container {
  width: 100%;
  flex-direction: column;
}
.stats2-max-width {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.stats2-container1 {
  max-width: 50%;
}
.stats2-image {
  width: 758px;
  height: 556px;
}
.stats2-container2 {
  align-self: center;
  align-items: flex-start;
  margin-left: auto;
}
.stats2-container3 {
  width: 100%;
}
.stats2-container4 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.stats2-container5 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.stats2-container6 {
  width: 100%;
}
.stats2-container7 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.stats2-container8 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .stats2-max-width {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .stats2-container1 {
    width: 100%;
    max-width: 100%;
  }
  .stats2-container2 {
    align-self: flex-start;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .stats2-image {
    width: 100%;
  }
}

.logos1-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos1-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos1-text {
  text-align: center;
}
.logos1-logo1 {
  object-fit: contain;
}
.logos1-logo2 {
  object-fit: contain;
}
.logos1-logo3 {
  object-fit: contain;
}
.logos1-logo4 {
  object-fit: contain;
}
.logos1-logo5 {
  object-fit: contain;
}
.logos1-logo6 {
  object-fit: contain;
}
@media(max-width: 767px) {
  .logos1-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos1-max-width {
    gap: var(--dl-space-space-twounits);
  }
}

.footer1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer1-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer1-image1 {
  height: 2rem;
}
.footer1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer1-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footer1-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footer1-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer1-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer1-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-link1 {
  text-decoration: none;
}
.footer1-link3 {
  text-decoration: none;
}
.footer1-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer1-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer1-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-link {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer1-link1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer1-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer1-link3 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer1-link4 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer1-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footer1-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer1-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .footer1-newsletter {
    width: 300px;
  }
  .footer1-form {
    width: 100%;
    flex-direction: column;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer1-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer1-content {
    flex-direction: column;
  }
  .footer1-newsletter {
    width: 100%;
  }
  .footer1-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-button {
    width: 208px;
  }
  .footer1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer1-column1 {
    align-items: center;
  }
  .footer1-column1-title {
    text-align: center;
  }
  .footer1-footer-links {
    align-self: center;
  }
  .footer1-column2 {
    align-items: center;
  }
  .footer1-column2-title {
    text-align: center;
  }
  .footer1-footer-links1 {
    align-self: center;
  }
  .footer1-column3 {
    align-items: center;
  }
  .footer1-social-link1-title {
    text-align: center;
  }
  .footer1-social-links {
    align-self: center;
  }
  .footer1-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .footer1-actions {
    width: 100%;
  }
  .footer1-form {
    width: 100%;
    flex-direction: column;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-button {
    width: 100%;
  }
  .footer1-links {
    flex-direction: column;
  }
  .footer1-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer1-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer1-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer1-credits {
    gap: 0;
  }
  .footer1-row {
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.donate-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
