.navbar21-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar21-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar21-image1 {
  height: 3rem;
}
.navbar21-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar21-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar21-link1 {
  text-decoration: none;
}
.navbar21-link2 {
  text-decoration: none;
}
.navbar21-link4 {
  text-decoration: none;
}
.navbar21-burger-menu {
  display: none;
}
.navbar21-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar21-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar21-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar21-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar21-logo {
  height: 3rem;
}
.navbar21-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar21-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar21-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar21-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
@media(max-width: 767px) {
  .navbar21-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar21-desktop-menu {
    display: none;
  }
  .navbar21-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar21-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar21-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
