.sign-in1-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in1-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in1-form-root {
  gap: var(--dl-space-space-unit);
  width: 600px;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.sign-in1-form {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in1-title-root {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in1-have-an-account-login {
  gap: var(--dl-space-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.sign-in1-form1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sign-in1-email {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-in1-textinput {
  width: 100%;
  background-color: transparent;
}
.sign-in1-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in1-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.sign-in1-icon {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
.sign-in1-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in1-container2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in1-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in1-button {
  width: 100%;
  align-self: center;
}
.sign-in1-text04 {
  text-align: center;
}
.sign-in1-terms-agree {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
.sign-in1-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in1-text08 {
  text-decoration: underline none;
}
.sign-in1-text09 {
  text-decoration:  underline none;
}
.sign-in1-container5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in1-divider {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-in1-divider1 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in1-divider2 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in1-button1 {
  width: 100%;
  align-self: center;
}
.sign-in1-text11 {
  text-align: center;
}
@media(max-width: 991px) {
  .sign-in1-form-root {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .sign-in1-form-root {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .sign-in1-button {
    width: 100%;
  }
  .sign-in1-button1 {
    width: 100%;
  }
}
